/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
/storage/app/geoip/
/storage/framework/views/*
/storage/debugbar/
/storage/email-previews/
/public/media/*
Homestead.json
Homestead.yaml
.env
.phpstorm.meta.php
_ide_helper.php
