@font-face {
  font-family: 'Fira Code';
  src: url('../fonts/FiraCode/FiraCode-Regular.otf') format('opentype');
}

code {
  -webkit-font-feature-settings: "liga" on, "calt" on;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Fira Code', monospace, serif !important;
}